
.container {
  margin: 30px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}
input {
  display: inline;
  margin: 10px 0;
  width: 536px;
}

.delete_form{
  display:inline;
}

.edit_form{
  display:inline;
  height: auto;
}

.edit {
  margin-bottom: 0px;
}

Header {
  background: green;
}

header h1 {
  color: white;
  display: inline-block;
  margin: 20px 20px 20px;
}

nav {
  display: inline-block;
  float: right;
  vertical-align: middle;
  line-height: 80px;
  margin-right: 20px;

}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}