
.container {
  margin: 30px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

input {
  display: block;
  margin: 10px 0;
  width: auto;
}

.delete_button{
  display:inline;
}

.edit_button{
  display:inline;
  height: auto;
}

.edit {
  margin-bottom: 0px;
}

Header {
  background: green;
}

header h1 {
  color: white;
  display: inline-block;
  margin: 20px 20px 20px;
}

nav {
  display: inline-block;
  float: right;
  vertical-align: middle;
  line-height: 80px;
  margin-right: 20px;
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.edit_form div{
  margin: 20px 0 0 0;
}

.edit_form textarea {
  margin-top: 10px;
}

header a {
  text-decoration: none;
  color: white;
}

.blog_post {
  margin-bottom: 50px;
  background-color: #EFEFEF;
  padding: 20px ;
}

.blog_post h2 {
  margin-top: 0px;
}

.blog_post ul {
  list-style-type: none;
  padding-left: 0px;
}

.blog_post li {
  display: inline;
  background-color: lightgreen;
  padding: 3px;
}

a {
  text-decoration: none;
  color: black; 
}

a:hover {
  text-decoration: underline; 
}

.errors {
  background-color: #e2b6b9;
}