<div class="container">
  <form action="/posts/<%=@post.id%>/edit" method="post">
    <input name="form[title]" type="text" value="<%=@post.title%>">
    <textarea cols="40" rows="5" name="form[body]"><%=@post.body%></textarea>
    <input class="update btn" type="submit" value="Update">
  </form>
</div>